
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div class = "body_style" ,text-align = "center">
        <ul class="hr" >
            <li>
                <form  style= "padding-left: 80%" action = "/admin" method = "GET" >
                        <input type="submit" value="Go back" style = "border-radius:5px">
                </form>
            </li>
        </ul>
    </div>

<div class="content">
    <h1> Please fill in the following: </h1>
    <form  action = "/add_action" method = "POST">
        <fieldset>
            {{ form.hidden_tag() }}<br/>
            <p>{{ form.name.label }}</p> <p>{{ form.name }}</p>

                {% for message in form.name.errors %}
                    <script>
                        swal({
                            title: "{{message}}",
                            text: "You clicked the button!",
                            icon: "error",
                        });
                    </script>
                {% endfor %}

            <p>{{ form.price.label }}</p> <p>{{ form.price }}</p>
                {% for message in form.price.errors %}
                    <script>
                        swal({
                            title: "{{message}}",
                            text: "You clicked the button!",
                            icon: "error",
                        });
                    </script>
                {% endfor %}

            <p>{{ form.quantity.label }} </p> <p>{{ form.quantity }}</p>

             {% for message in form.quantity.errors %}
                 <script>
                    swal({
                        title: "{{message}}",
                        text: "You clicked the button!",
                         icon: "error",
                    });
                 </script>
             {% endfor %}

              <p>{{ form.description.label }} </p> <p>{{ form.description }}</p>

                    {% for message in form.description.errors %}
                        <script>
                             swal({
                                  title: "{{message}}",
                                  text: "You clicked the button!",
                                   icon: "error",
                              });
                        </script>
                    {% endfor %}

            <p>{{ form.submit }}</p>

        </fieldset>
    </form>


</div>
    {% if successful %}
     <script>
                             swal({
                                  title: " Makeup added successfully ",
                                  text: "You clicked the button!",
                                   icon: "success",
                              });
    </script>
    {% endif %}
</body>
</html>